.Lia {
    width: 50%;
    height:400px;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.Singin {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
}




.buLink {
    text-decoration: none;
    color: white;
    margin: auto  auto;
    font-weight: bold;
    background-color: rgb(190, 31, 3);
    padding: 5px;
    border-radius: 25%;
}