* {
    margin: 0;
    padding:0;
}

.navIni {
    background-color: black;
    padding: 10px 0px;
}

.navIni a {
    padding: 10px 30px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    } 

.navIni a:hover {
    background-color: rgb(190, 31, 3);
}

.Logo {
    width:  20px;
    height: 20px;
}